{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "html", "python"],
        "plugins": ["line-numbers", "show-language"],
        "theme": "funcky",
        "css": true
      }
    ]
  ]
}
